/*

* Override Pages default styles or create your own styles here

*/

img {
    max-width: 100%;
}

.login-container h5 {
    font-size: 12px;
    color: #f55753;
    display: block;
    margin: 0;
}
.login-container p {
    color: #2B336D;
    font-weight: 600;
    font-size: 20px;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a {
    cursor: pointer;
}
.add_btn {
    text-align: right;
}
.add_btn.show_screen {
    text-align: left;
}
.add_btn.show_screen .checkbox {
    display: inline-block;
}
.add_btn.show_screen .btn {
    float: right;
}
.linethrough {
    text-decoration: line-through;
}
.sizes_avail label {
    padding-right: 10px;
    font-weight: 600;
}
.select_brands div.cs-skin-slide {
    width: 100%;
    font-family: Arial, sans-serif;
    color: #5e5e5e;
    padding: 6px 12px;
}
.gallery-item[data-height="1"] {
    height: 145px;
}
.gradient-grey p {
    text-transform: capitalize;
    font-size: 20px !important;
}
.form-group-default textarea.form-control {
    height: 125px;
}
.form-group-default.product_details textarea.form-control {
    min-height: 190px;
}
.seconday_images .sec_edit_images {
    display: inline-block;
    position: relative;
}
.seconday_images .sec_edit_images button {
    position: absolute;
    top: 0px;
    right: 0;
    background: #ff0000;
    color: #fff;
    border: none;
}
.expired_dates {
    clear: both;
}
.expired_dates .panel-heading {
    padding: 20px 0 0;
}
.expired_dates .table thead tr th {
    padding: 8px !important;
    color: #626262;
}

.panel-transparent .gallery2 {
    display: block;
}
.message_block {
    padding: 20px 20px 0px 20px;
}
h4.modal-title {
    margin-bottom: 10px;
}
.badges {
    background: rgba(44, 44, 44, 0.07);
    display: inline-block;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
    color: #62605a !important;
}
.badges.current {
    background: rgba(44, 44, 44, 0.07);
    display: inline-block;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
    color: #62605a !important;
}
.table.dataTable p {
    margin: 0;
}
.table.dataTable p a {
    color: #626262;
}
.price_sec {
    margin-top: 7px;
}
.price_sec p {
    font-size: 24px;
}
.view_product .modal-header {
    padding: 15px;
}
.img-popup img {
    width: 100%;
}
.img-popup .modal-header {
    padding: 7px 20px;
}
.img-popup .form-group.form-group-default {
    border: none;
    padding: 0;
}
.add-bs a {
    color: #6d5cae;
}
.form-group-default label {
    padding-bottom: 7px;
}
.form-group-default{
	    padding-bottom: 10px;
}
#datepicker-component {
    padding: 0;
}
.modal-dialog.view_product.offer_lst .modal-header {
    padding: 25px 25px 0 25px;
}
.modal-dialog.view_product.offer_lst .form-group-attached > div.row > [class*='col-']:not(:only-child):not(:last-child) > .form-group-default {
    border-right-color: rgba(0, 0, 0, 0.07);
}

.flexslider .slides img {
    height: 400px;
    object-fit: cover;
    width: 400px;
    margin: 0 auto;
}
.flex-control-thumbs img {
    /* height: 100px; */
    object-fit: cover;
    width: 100px;
    margin: 0 auto;
}
@font-face {
  font-family: 'flexslider-icon';
  src: url('../assets/fonts/webfont/flexslider-icon.eot');
  src: url('../assets/fonts/webfonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/webfonts/flexslider-icon.woff') format('woff'), url('../assets/fonts/webfonts/flexslider-icon.ttf') format('truetype'), url('../assets/fonts/webfonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.flex-direction-nav a {
    display: none;
}
table.dataTable a.btn {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}
.table tbody tr td {
    padding: 8px;
}
table.dataTable span[data-toggle], table.dataTable span.action {
    display: inline-block;
    width: 35px;
    vertical-align: middle;
}

.scrollclass .form-group-attached {
    overflow: auto;
    height: 590px;
}
table.dataTable span.text-success.badges {
    background: #f55753;
    color: #fff !important;
}
table.dataTable span.text-danger.badges {
    background: #10cfbd;
    color: #fff !important;
}
.text-complete.noti_text {
    color: #2c2c2c !important;
}
.notification-panel .notification-body .notification-item {
    margin-left: 0;
}
.text-complete.noti_text span.text-complete {
    font-weight: 500;
    color: #10cfbd !important;
}
.sweet-alert button {
    height: 42px;
    width: 170px;
    margin: 20px 0;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff;
    text-align: center;
}
#preloader svg, #preloader img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 85px;
    margin: auto;
    z-index: 1;
}
.demo-table-search.tableclass thead th:nth-child(1) {
    width: 20px;
}
.table.tableclass td {
    padding: 8px;
    vertical-align: middle;
}
.demo-table-search.tableclass thead th:nth-child(1):after {
    background: transparent;
}
.table.tableclass thead tr th {
    padding: 8px;
	outline: none;
}
.table.tableclass thead tr th:first-child {
    padding-left: 8px !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 21px;
}
input.del_event.submitallids {
    margin: 5px 0 0 20px;
}
.color-field input.form-control {
    height: 42px;
}
.addcolorbutton {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(98, 98, 98, 0.47);
    font-size: 14px;
    display: table-cell;
    border-radius: 3px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
}
.addcolorbutton a.add-color {
    background: transparent;
    padding: 8px 9px;
    display: table-cell;
    border: 1px solid #10cfbd;
    color: #fff;
    background-color: #10cfbd;
}
.deletecolor {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(98, 98, 98, 0.47);
    font-size: 14px;
    display: table-cell;
    border-radius: 3px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
}
.deletecolor {
    border: none;
    background: transparent;
}
.deletecolor a.delete-field {
    background: transparent;
    padding:3px 9px;
    display: table-cell;
    border: 1px solid #f55753;
    color: #fff;
    background-color: #f55753;
}
.addons .input-group.colorpicker-element {
    width: 100%;
    background: #fff;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    font-family: Arial, sans-serif;
    -webkit-appearance: none;
    color: #2c2c2c;
    text-align: center;
    outline: 0;
    height: auto;
    padding: 0;
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 35px;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}
.color-field .addons input.form-control {
    height: 35px;
    width: 35px;
    padding: 0;
    border: none;
    border-radius: 0;
}
.color-field.row .addons .input-group.colorpicker-element input.form-control {
    width: 35px;
    height: 35px;
}
.color-field.row .input-group.colorpicker-element input.form-control {
    border: none;
    background: transparent;
    width: 35px;
    padding: 0;
}
.color-field .input-group.colorpicker-element {
    width: 100%;
    background: #fff;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    font-family: Arial, sans-serif;
    -webkit-appearance: none;
    color: #2c2c2c;
    text-align: center;
    outline: 0;
    height: auto;
    padding: 0;
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 35px;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}
/******************12 july***************/
.ajaxcateg {
    margin-bottom: 0px;
}
span.select2-selection.select2-selection--multiple {
    height: 34px;
}
.form-group-attached > div.row > [class*='col-']:not(:only-child):not(:last-child) > .form-group-default {
    border: none;
}
.form-group-attached .col-sm-6 .form-group {
    margin: 3px;
}
.form-group-attached > .row {
    border: 1px solid rgba(0,0,0,.07);
    padding: 8px 12px;
}

.currency .cs-select.cs-skin-slide span.cs-placeholder {
    padding: 0 30px 0 10px;
}

/**********responsive css**********/

@media(min-width:1400px){
.dataTables_wrapper .btn-cons {
    width: 86px;
}
}




